/* Required Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Apply Font */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Area CSS Starts*/
header{
    width: 100%;
    background: #2D25A0;
}
.header_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_top_left nav ul {
    display: inline-flex;
}
.header_top_left nav ul li {
    list-style: none;
    color: #fff;
    padding: 0 10px 0 0;
}
.header_top_left nav ul li a{
    text-decoration: none;
    color: #fff;
}
.header_top_right a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}
.header_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_bottom_left h1{
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;

}
.header_bottom_left a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background: #E02C6D;
    color: #fff;
    text-align: center;
    padding: 3% 7%;
    text-decoration: none;

}
.header_bottom_right img{
    width: 100%;
    align-content: right;
}
/* Header Area CSS Ends*/