/* Required Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Apply Font */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Area CSS Starts*/
header{
    width: 100%;
    background: #2D25A0;
    padding: 35px 0 85px 0;
    display: flex;
    justify-content: center;
}
.container{
    width: 1164px;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_left nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.header_top_left nav ul li {
    list-style: none;
    color: #fff;
    padding: 0 10px 0 0;
}
.header_top_left nav ul li a{
    text-decoration: none;
    color: #fff;
}
.header_top_right a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
}
.header_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.header_bottom_left h1{
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}
.header_bottom_left a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background: #E02C6D;
    color: #fff;
    text-align: center;
    padding: 11px 25px;
    text-decoration: none;
}
.header_bottom_left i.fas.fa-arrow-right{
    padding-left: 10px;
}

.header_bottom_right img{
    width: 100%;
    align-content: right;
}
/* Header Area CSS Ends*/

/* Main Area Starts */
main{
    width: 100%;
    background: #fff;
}

.players_container{
    display: flex;
    justify-content: center;
}
.players_area{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    place-items: center;
    padding: 70px 0;
}
.player{
    max-width: 300px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
    padding: 15px 15px 33px 15px;
}
.player h3{
    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 10px;
letter-spacing: 0em;
text-align: left;    
}
.player p{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

    
}
.player img{
    width: 100%;
    height: 256px;
}

/* Players Area Ends */

.matchs_container{
    width: 100%;
    background: lightblue;
    padding: 15px 0 80px;
}
.matchs_area{
    max-width: 1164px;
    margin: 0 auto;
}
.matchs_area h1{
    font-size: 2.5rem;
    text-align: center;
    color: #22222b;
}
.matchs h3{
    font-size: 16px;
    font-weight: 500;
    color: #735f63; 
}
table {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 8px;
  }


  /* Latest News Area */
  .latest_news_area{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    place-items: center;
    padding: 70px 0;
    
  }
  .latest_news_area h1{
    font-size: 2.5rem;
    text-align: center;
    color: #E02C6D;
  }
  .news{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
    padding: 15px 15px 33px 15px;
    overflow: hidden;
    transition: all 0.1s;
    cursor: pointer;
    display: flex;
  }
  
  .news h3{
    max-width: 700px;
    font-size: 16px;
    font-weight: 400;
    color: #2D25A0;
    padding: 0 2%;
  }
  .news:hover .newstitle{
    color: #E02C6D;
    display: block;
    transition: all 0.5s;
  }
  .news:hover{
    background: #2D25A0;
  }
  .news:hover .newsimg{
    opacity: 90%;
    transition: all 0.1s;
  }
  .news img{
    max-width: 300px;
  }
  .view_more{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px; 
  }

/* Gallery Area CSS */
.gallery_area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.gallery{
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.gallery img{
    width: 100%;
}
.gallery_container h1{
    font-size: 2.5rem;
    text-align: center;
    color: #E02C6D;
}